.btn{
  background-color: black;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn:hover{
  background-color: #555;
}

.App {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#quote-box {
  min-width: 300px;
  max-width: 600px;
  background-color: #fff;
  color: #000;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#quote-box #text {
  font-size: 25px;
}

#quote-box #author {
  font-size: 16px;
  text-align: right;
}



